{% extends "base.html" %}
{% block content %}

<font size="5">
<table border="1">
{% for file_name in file_list %}
    <tr>
        <td>
        <a href="/static/files/{{ file_name }}">  {{ file_name }} </a>
        </td>
        <td>
        <a href="/deleteFile?FileName={{ file_name }}"> X </a>
        </td>
    </tr>
{% endfor %}
</table>

<br>
<form enctype="multipart/form-data" action="/upload_file" method="post">
       <input type="file" name="myfiles" multiple style="width:900px;height:80px;font-size:40px"/>
       <input type="submit" value="upload"style="width:900px;height:80px;font-size:40px"/>
</form>

<br>
<form action="/accept-text" method="post" id="usrform">
    <input name="cmd" value="submit" type="submit" style="width:900px;height:80px;font-size:40px" >
    <!-- <input name="text" placeholder="text" value="" style="width:900px;height:100px;font-size:40px" > -->
</form>
<textarea name="TextArea" form="usrform" style="width:900px;height:180px;font-size:20px"> {{ TextArea }} </textarea>

<br>
<br>
<a href=/video_view > video_view </a> <br/>
<a href="/submitToGithub" > 提交服务器变动至github </a>
<a href="https://github.com/JiangEndian/grace_20190205/archive/master.zip" > 全站在github的master.zip </a>
{% endblock %}
